<mat-toolbar color="primary">
    <span>E-Stock Market</span>
    <a mat-button routerLink="/viewCompany">
      Company
    </a>
    <a mat-button routerLink="/viewStock">
      Stock
    </a>
    <a mat-button routerLink="/viewSector">
      Sector
    </a>
    <span class="example-spacer"></span>
    <span  *ngIf="userLogin">
      Welcome {{username}}
    </span>
    <button *ngIf="userLogin" (click)=redirect() mat-button class="example-icon" aria-label="Example icon-button with heart icon">
        Logout
    </button>
    <button *ngIf="!userLogin" routerLink='/login' mat-button class="example-icon" aria-label="Example icon-button with heart icon">
      Login
  </button>
  </mat-toolbar>