<mat-toolbar class="footer" color="primary">
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with facebook icon">
      <mat-icon>facebook</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with youtube icon">
        <mat-icon>youtube_searched_for</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <i class="material-icons">copyright</i>
    </button>E-Stock Market
  </mat-toolbar>