.example-form-field {
  margin: 0 8px 16px 0;
}
.stock-center {
  text-align: center;
  padding-top: 15px;
}

.padding-lr-10{
    padding-right: 10px;
    padding-left: 10px;
}

table {
    width: 100%;
  }
  .mat-header-cell {
    color: black;
    font-weight: bolder;
    font-size: 14px;
    background: lightgrey;
}

.table-container {
    width: 50%;
}

.aggregate-center{
  text-align: center;
    font-size: 16px;
}