.container {
    margin: 0 auto;
    width: 30%;
    margin-top: 140px;
  }
  
  .stock-form-full-width {
    width: 100%;
  }
  .text-center {
    text-align: center;
  }
  
  .stock-pad {
    padding-top: 10px;
    padding-bottom: 10px;
    color: cornflowerblue;
  }
  