<div class="container">
    <mat-card>
        <mat-card-title class="text-center reg-pad">Login</mat-card-title>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
           <div>
            <mat-form-field class="reg-form-full-width" appearance="fill">
                <mat-icon matPrefix>email</mat-icon>
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="username" placeholder="Enter the Email">
            </mat-form-field>
           </div>
           <div>
            <mat-form-field class="reg-form-full-width" appearance="fill">
                <mat-icon matPrefix>lock_outline</mat-icon>
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" placeholder="Enter the Password">
            </mat-form-field>
           </div>
           <div>
            <mat-card-actions class="text-center">
                <button mat-raised-button [disabled]="loginForm.invalid" color="primary" >Login</button>
              </mat-card-actions>
           </div>
        </form>
    </mat-card>
</div>
